body{
    background-image: url('Como-colocar-cor-de-fundo-no-html.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

h1{
    font-family: "Arial", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
}
div{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

img{
    border-radius: 50%;
    margin: 100px;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

button {
    width: 200px;
    display: 50px;
    padding: 1.2em 1rem;
    cursor: pointer;
    gap: 0.4rem;
    font-weight: bold;
    border-radius: 30px;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
    background-size: 300%;
    color: #fff;
    border: none;
    background-position: left center;
    box-shadow: 0 30px 10px -20px rgba(0,0,0,.2);
    transition: background .3s ease;
  }
  
  button:hover {
    background-size: 320%;
    background-position: right center;
  }
  
  button:hover svg {
    fill: #fff;
  }
  
  button svg {
    width: 23px;
    fill: #f09f33;
    transition: .3s ease;
  }